.Table__body {
  height: 550px !important;
}

.Table {
  height: 600px;
  min-height: 600px;
  width: 920px;
}

.Select {
  margin-bottom: 20px;
}

h2 {
  padding: 5px 0;
  font-family: Inter, sans-serif;
  color: #475161;
  font-weight: 800;
}
